@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root {
    background-color: black;
    --font-style: "Martel Sans", serif;
    --font-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
}


.main {
    background-image: url(images/background-img.jpg);
    height: 684px;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--font-color);
    font-family: var(--font-style);
}

.main .box {
    background-color: black;
    opacity: 0.80;
    height: 684px;
    width: 100%;
    position: absolute;
    top: 0;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80.55555555555556vw;
    align-items: center;
    padding: 10px 0;
    padding-left: 10px;
    height: 5.5rem;
    position: relative;
    z-index: 1;
}

.nav-topfade {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
    position: relative;
    z-index: 2;
    width: 100%;
}


nav span img {
    width: 140px;
}

nav div {
    align-items: center;
    gap: 2px;
    display: flex;
}

nav div select {
    background-color: transparent;
    color: var(--font-color);
    font-family: var(--font-style);
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
    -webkit-appearance: none;
}

nav #translate-svg {
    transform: translate(-160%);
}

select::-ms-expand {
    display: none;
}

nav div>span {
    transform: translate(160%);
}

nav #translate-btn {
    line-height: 1.25rem;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 1rem + 0.5rem);
    display: flex;
    align-items: center;
    min-height: 16px;
    cursor: pointer;
}

nav .login-btn {
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: var(--font-color);
    border: none;
    cursor: pointer;
}

/* Hero Section CSS styles */

.hero {
    font-family: var(--font-style);
    font-style: normal;
    height: 31rem;
    position: relative;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
}


.hero span {
    max-width: 70vw;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}


.hero span h1 {
    width: 600px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

.hero span p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero span h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

/* Input Field and Get Started Button CSS styles */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.row input {
    border: 1px solid lightgray;
    background: transparent;
    color: var(--font-color);
    border-radius: 6px;
    font-size: 1rem;
    width: 366px;
    line-height: 1.5;
    text-align: left;
    padding: 1rem 1rem 0.5rem;
    outline-color: gray;
}

.row button {
    display: flex;
    width: 213px;
    height: 50px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    color: var(--font-color);
    background-color: rgb(229, 9, 20);
    padding: 0.75rem 1.5rem;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}

.row button svg {
    width: 1.5rem;
    height: inherit;
    margin-left: 0.75rem;
}

/* Separation curved line CSS styles  */

.curve-container {
    content: "";
    position: absolute;
    height: 6.25rem;
    margin-top: 0.25rem;
    width: 130%;
    left: -15%;
    top: 0;
    display: flex;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}


.separation-overlay {
    content: '';
    position: relative;
    z-index: 1;
    height: 3.25rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -0.25rem;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);

}

/* Slider Section CSS styles */

.slider-heading {
    color: var(--font-color);
    font-family: var(--font-style);
    display: flex;
    justify-content: space-between;
    width: 80.55555555555556vw;
    margin: auto;
    font-size: 1.3rem;
}

.wrap {
    display: flex;
    align-items: center;
    width: 82%;
    margin: auto;
    gap: 10px;
    margin-top: 10px;
}

.wrap button {
    height: 7.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    transition: background-color 0.2sease-in-out, color 0.2sease-in-out;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}


.scroller {
    flex: 1;
    overflow: hidden;
}

.items {
    list-style-type: none;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    width: 200%;
}

.item {
    border-radius: 0.5rem;
    padding: 30px 30px;
    display: inline-block;
    width: 8rem;
    height: 10.75rem;
    font-size: 25px;
    letter-spacing: -0.03em;
    line-height: 1;
    font-weight: bold;
    background-size: cover;
    background-position: 50% 50%;
    text-transform: uppercase;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Reasons to Join CSS styles */


.grid-sect {
    margin-top: 3.5rem;
}

.reason-to-join {
    color: var(--font-color);
    font-family: var(--font-style);
    display: flex;
    justify-content: space-between;
    width: 80.55555555555556vw;
    margin: auto;
    font-size: 1.3rem;
}

/* More reasons to join CSS styles */

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80.55555555555556vw;
    margin: auto;
    margin-top: 10px;
}

.layout-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.layout-item {
    border: none;
    width: 235px;
    height: 300px;
    padding: 20px;
    border-radius: 1.5rem;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.layout-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.layout-item p {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-family: var(--font-style);
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.4;
}

.layout-svg1 {
    transform: translate(165px, 100px);
}

.layout-svg2 {
    transform: translate(170px, 60px);
}

.layout-svg3 {
    transform: translate(165px, 125px);
}

.layout-svg4 {
    transform: translate(165px, 70px);
}


/* FAQ CSS styles */

.faq-sect {
    width: 80.55555555555556vw;
    margin: auto;
    height: 630px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 1280px;
}

.faq-sect h3 {
    font-size: 1.5rem;
}

.container-item {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 0 0.5rem 0;
    height: 100%;
    padding: 1.5rem;
}

.faq-sect ul li {
    list-style: none;
    font-size: 1.25rem;
}

.container-button h3 {
    font-weight: 500;
}

.container-button {
    width: 95%;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}


/* FAQ CSS styles */

.faq-sect {
    width: 80.55555555555556vw;
    margin: auto;
    height: 630px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 1280px;
}

.faq-sect h3 {
    font-size: 1.5rem;
}

.container-item {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 0 0.5rem 0;
    height: 100%;
    padding: 1.5rem;
}

.faq-sect ul li {
    list-style: none;
    font-size: 1.25rem;
}


.container-button h3 {
    font-weight: 500;
}

.container-button {
    width: 95%;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}


/* Input field CSS styles */

.input-field {
    text-align: center;
    margin-top: 3.5rem;
}

.input-field span h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}


/* Footer Section CSS styles */

footer {
    padding-top: 3.5rem;
    max-width: 1280px;
    margin: auto;
    width: 80.55555555555556vw;
}


footer span li {
    list-style: none;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

footer #question {
    font-size: 1rem;
    color: rgb(255, 255, 255, 0.7);
    font-family: var(--font-style);
    font-weight: 400;
    padding-top: 20px;
    display: block;
}

.main-footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-layout {
    color: rgb(255, 255, 255, 0.7);
    font-family: var(--font-style);
    font-size: 1rem;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6rem;
    text-decoration: underline;
}


.footer-item ul li {
    list-style: none;
    cursor: pointer;
}

.main-footer-translate-btn select {
    background-color: transparent;
    color: var(--font-color);
    font-family: var(--font-style);
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
    -webkit-appearance: none;
}

.main-footer-translate-btn #translate-btn1 {
    line-height: 1.25rem;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;
    padding-left: calc(0.625rem + 1rem + 0.5rem);
    display: flex;
    align-items: center;
    min-height: 16px;
    cursor: pointer;
}

.footer-translate {
    display: flex;
    align-items: center;
}

.main-footer-translate-btn #translate-svg1 {
    transform: translate(-160%);
}

.main-footer-translate-btn .trnslate-btn {
    transform: translateX(30px);
}

.main-footer-translate-btn {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -18px;
}

@media screen and (max-width:910px) {
    .hero span h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:700px) {

    nav {
        height: 5rem;
    }

    .row input {
        width: 340px;
    }

    .row button {
        width: 190px;
        height: 50px;
        font-size: 1.2rem;
    }

    .hero span {
        max-width: 75vw;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .hero span h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .hero span p {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .hero span h3 {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .hero {
        min-height: 31rem;
        height: auto;
        text-align: center;
    }

    nav span img {
        width: 110px;
    }

    .main {
        width: 102vw;
        background-size: max(100vh, 1200px);
        background-position: center center;
        height: 644px;
    }

    .main .box {
        height: 644px;
    }

    .row {
        flex-wrap: wrap;
        padding: 0 10px;
    }
}